<h2>Training LDA</h2>
<div>
  <%= simple_form_for :search, url: modeling_training_lda_path, method: "GET" do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :start_time, label: 'Expecting Routines ~ Topics in LDA', as: :integer, input_html: { value: 20 } %>
      </div>
    </div>
    <%= f.submit "Train Model", class: "btn btn-primary" %>
  <% end %>
  <%= @docs %>
</div>